{% extends 'base.html' %}

{% block title %} About page. {% endblock %}

{% block content %}
<h1>About page.</h1>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th, i{
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
</style>

{% if request.user.is_authenticated %}
<br><br>
<h1><b>Kitoblar</b></h1>
<table>
    <tr>
        <th>№</th>
        <th>Nomi</th>
        <th>Avtor</th>
        <th>Narxi</th>
        <th>Rasmi</th>
    </tr>
    {% for book in book %}
    <tr>
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.avtor}}</td>
        <td>{{book.narx}}</td>
        <td><img src="../media/{{book.rasm}}" alt="{{book.name}} kitobining rasmi." style="height: 100px;"></td>
    </tr>
    {% endfor %}

</table>
{% else %}
<br><br>
<h2>Ma'lumotlarni ko'rish uchun <a href="/login">hisobingizga kiring</a> yoki <a href="/signup">ro'yhatdan o'ting</a></h2>
{% endif %}

{% endblock %}